.dpv-folder-viewer {
    position: relative;
}


.dpv-folder-viewer-drop-modal {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1000000;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(0,0, 0,0.1);
}

.dpv-folder-viewer.as-drag-over .dpv-folder-viewer-drop-modal{
    display: block;
}